{% extends "calendar/base_inser.html" %}

{% block title %}
	Registrar Evento
{% endblock title %}

{% block contenido %}

	<div class="">
		<div class="page-header">
			<h4>
				<a href="{%url 'calendario_app:calendar' %}" class="btn btn-success">
					<span class="glyphicon glyphicon-chevron-left"></span>Regresar
				</a>
				<strong><span class="glyphicon glyphicon-info-sign"></span>
						Registre los eventos que desee</strong>

			</h4>
		</div>{# page-header #}

		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" class="btn btn-success" value="Registrar">
		</form>

		<!-- <div class="row">
			<div class="col-md-12">
				<form role="form" method="POST" enctype="multipart/form-data">
					    {% csrf_token %}
					
					{% if forms.error %}
					<div class="alert alert-danger" role="alert">
						{{form.error}}
					</div>						
					{% endif %}
					<div class="form-group">
						<label>Titulo:</label>
						{{form.title}} 
					</div>					
					<div class="form-group">
					    <label>URL</label>
						{{form.url}}
					</div>	 
					<div class="form-group">
					    <label>Prioridad</label>
					   {{form.css_class}}
					</div>						
					<div class="form-group">
					    <label >Inicio:</label>
						{{form.start}}
					</div>
					<div class="form-group">
					    <label >Fin:</label>
						{{form.end}}
					</div>				
					<div class="form-group">
					    <label>Lugar</label>
					    {{form.place}}
					</div>
					<div class="form-group">
					    <label>Descripcion</label>
						{{form.description}}
					</div>						  

					<div class="form-group">
					    <input type="submit" class="btn btn-success" value="Registrar">
					</div>
				</form>
			</div>
		</div> -->

	</div>
{% endblock contenido %}