{% extends "calendar/base_calendar.html" %}
{% load staticfiles i18n %}
{% load bootstrap_calendar %}
{% block angulars %}
  ng-app
{% endblock angulars %}

    {% block title %}
      Calendarsss
    {% endblock title %}
    {% block csscal %}
    
    {% bootstrap_calendar_css %}

    {% endblock csscal %}

  
    {% block modal %}{% endblock modal %}

    {% block angularjs %}
         {% block angular %}
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    {% endblock %}
    {% endblock angularjs %}
    {% block mijs %}
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>

      <script src="{% static 'js/underscore-min.js' %}"></script>
      {% bootstrap_calendar_js language='es-ES' %} 
      {% bootstrap_calendar_init language='es-ES' %}
    {% endblock mijs %}
  </body>
</html>
