<!DOCTYPE html>
<html lang="en" {% block angulars %}
	
{% endblock angulars %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>{% block title %}
		
	{% endblock title %}</title>

	{% block css %}
		
	{% endblock css %}
	{% block csscal %}
		
	{% endblock csscal %}
</head>
<body>
	
	{% block content %}
		
	{% endblock content %}


	{% block angularjs %}
		
	{% endblock angularjs %}

	{% block js %}
		
	{% endblock js %}
	
	{% block mijs %}
		
	{% endblock mijs %}
</body>
</html>